Makefile
Makefile.in

*~
*.o
*.lo
*.la
*.swp
*.cache/

.deps/
.libs/

/INSTALL
/aclocal.m4
/configure
/config.guess
/config.log
/config.status
/config.sub
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/m4

/src/.dirstamp
/src/genesis
/src/actions/.dirstamp
/src/events/.dirstamp

